---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I have been fortunate to be on course staff for several courses, both at UC Berkeley and Columbia. These were:

<ul>
  <li>
    STAT W3105 (Applied Statistical Methods) @ Columbia
    <ul>
      <li>
        This course is intended to give students practical experience with statistical methods beyond linear regression and categorical data analysis.      </li>
      <li>
        I was a TA in Fall 2025.
      </li>
    </ul>
  </li>
  <li>
    MATH 54 (Linear Algebra and Differential Equations) @ UC Berkeley
    <ul>
      <li>
        This course is an introductory course in linear algebra and differential equations. It covers fundamental mathematical tools from these fields which are used across a wide range of disciplines.      </li>
      <li>
        I was a discussion TA in 
        <a href="https://classes.berkeley.edu/content/2023-spring-math-54-001-lec-001">Spring 2023</a>,
        <a href="https://classes.berkeley.edu/content/2023-fall-math-54-002-lec-002">Fall 2023</a>,
        <a href="https://classes.berkeley.edu/content/2024-spring-math-54-001-lec-001">Spring 2024</a>,
        <a href="https://classes.berkeley.edu/content/2024-summer-math-w54-001-wbl-001">Summer 2024</a>, and
        <a href="https://classes.berkeley.edu/content/2024-fall-math-54-001-lec-001">Fall 2024</a>.
      </li>
    </ul>
  </li>
  <li>
    MATH 10A (Methods of Mathematics: Calculus, Statistics, and Combinatorics) @ UC Berkeley
    <ul>
      <li>
        This course is part of the sequence Math 10A, Math 10B, and is intended for majors in the life sciences. Introduction to differential and integral calculus of functions of one variable, ordinary differential equations, and matrix algebra and systems of linear equations.
      </li>
      <li>
        I was a discussion TA in 
        <a href="https://classes.berkeley.edu/content/2022-fall-math-10a-001-lec-001">Fall 2022</a>.
      </li>
    </ul>
  </li>
</ul>

In the course of the above appointments, I earned the following awards:
<ul>
  <li>
    In 2024, I was given the UC Berkeley Outstanding Graduate Student Instructor Award (~60 recipients/year).
  </li>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
