.container {
  background-color: #589aa3;
}

.user-select {
  text-align-last: center;
  font-size: 10vw;
  background-color: #589aa3;
  padding: 20px;
  font-weight: 800;
  color: #236069;
  font-family: Georgia;
  border: 5px, solid;
  appearance: none;
  border-color: #236069;
}

.text-main {
  font-family: Georgia;
  font-size: 10vw;
  opacity: 0.75;
  font-weight: 800;
  color: #236069;
}

.box {
  border-color: #3b6e75;
  border-style: outset;
  background-color: #236069;
  margin-bottom: 20px;
  padding-top: 5vh;
  padding-bottom: 10vh;

}

.counter {
  font-size: 10vw;
  font-weight: 200;
  color: #589aa3;
  background-color: inherit;
  border-style: none;
  box-sizing: border-box;
  width: 50%;
  padding: 20px;
}

.symbol {
  font-size: 10vw;
  opacity: 0.75;
  font-weight: 200;
  color: #589aa3;
  padding: 20px;
}

.submit {
  border-color: #3b6e75;
  font-family: Georgia;
  font-size: 5vw;
  opacity: 0.75;
  font-weight: 800;
  color: #589aa3;
  margin: 20px;
  padding: 20px;
  background-color: #236069;
}

.submit:hover {
  background-color: #3b6e75;
  transition: background-color, 0.5s;
}
